#canvas {
width: 336px;
height: 335px;
border: 1px solid #383838;
background-color: #383838; }
#canvas #windiv {
    display: none; }
#canvas .banner {
    width: 370px;
    background-color: #faebd7;
    font-size: 50px;
    position: relative;
    text-align: center;
    top: -60px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.55);
    left: -15px;
    z-index: 2; }
#canvas .innerSquare {
    width: 110px;
    height: 110px;
    float: left; }
    #canvas .innerSquare.imageSquare {
    font-size: 24px;
    text-align: center;
    border: 1px outset  #000000; }
    #canvas .innerSquare.imageSquare:hover {
        background-color: #ffffff; }
    #canvas .innerSquare.clickable:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); }
    #canvas .innerSquare.blank {
    border: 1px inset #000000; }
    
#previews {
width: 308px;
height: 100px;
background-color: #ffffff;
overflow: scroll;
padding-left: 30px;
margin-top: 10px; }
#previews .mini {
    width: 90px;
    height: 90px;
    margin-top: 5px;
    margin-right: 5px; }

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden !important;
}

#logo {
    height: 10rem;
    width: auto;
}

#timer {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 500;
    padding-top: 1rem;
}

#sec {
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
}    